@font-face {
  font-family: "iconfont"; /* Project id 2947855 */
  src: url('iconfont.woff2?t=1642169551388') format('woff2'),
       url('iconfont.woff?t=1642169551388') format('woff'),
       url('iconfont.ttf?t=1642169551388') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-03:before {
  content: "\e606";
}

.icon-add:before {
  content: "\e661";
}

.icon-decrease:before {
  content: "\e6a6";
}

.icon-close:before {
  content: "\e678";
}

.icon-zuoyoujiantou:before {
  content: "\e600";
}

.icon-youjiantou:before {
  content: "\e601";
}

