body {
  margin: 0;
  padding: 0;
}
.mainDiv{
  display: flex;
  width: 100%;
}
.leftNav{
  width: 16%;
  background: #c0c0c0;
  color: #3330;
  font-size: 24px;
  height: 1000px;
  padding: 20px;
}

.rightMain{
  width: 84%;
  height: 1000px;
  background: #fff;
}
.rightMain{
  width: 84%;
  height: 1000px;
  background: #fff;
  font-size: 20px;
}