.weui-btn 
    display: block 
    width: 184px 
    margin-left: auto 
    margin-right: auto 
    padding: 8px 24px 
    font-weight: 700 
    font-size: 17px 
    text-align: center 
    text-decoration: none 
    color: #fff 
    line-height: 1.8824 
    border-radius: 8px 
    &-primary
        background-color #07c160
    &-loading
        background-color pink
    &-disabled
        color rgba(255,255,255,0.2)
        background-color: rgba(255,255,255,0.8)
